/* Gobal */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", serif;
}

.container {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    padding: 0 15px;
}

img {
    max-width: 100%;
    width: 100%;
}

@media (min-width: 62em) {
    .wrapper {
        padding: 0 138px;
    }
}

/* header */

header {
    padding: 0 15px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 280px;
}

.navbar__logo {
    font-size: 1.625rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.navbar__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    text-align: center;
}

.navbar__link {
    list-style: none;
    padding: 5px 0;
}

.navbar__link a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #000;
    text-transform: capitalize;
    transition: all 0.3s ease-in;
}

.navbar__link a:hover {
    color: #A88EEB;
    transition: all 0.3s ease-in;
}

/* toggle-btn */
.navbar__toggle-btn {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    width: 63px;
    height: 31px;
    background: #A88EEB;
    display: block;
    border-radius: 30px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    transition: 0.3s;
}

.navbar__toggle-btn:checked+label {
    background: #A88EEB;
}

.navbar__toggle-btn:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background: #fff;
}

@media (min-width: 62em) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        min-height: 140px;
    }

    .navbar__links {
        flex-direction: row;
    }

    .navbar__link {
        flex-direction: row;
        margin: 0 35px;
    }
}

/* Banner */
#banner {
    margin-bottom: 5%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.banner__img {
    order: 1;
}

.banner__desc {
    order: 2;
    text-align: center;
}

.banner__desc h1 {
    font-size: 4rem;
    color: #000;
    text-transform: capitalize;
}

.banner__desc p {
    font-size: 1.5rem;
    color: #000;
    padding-top: 15px;
    max-width: 700px;
    width: 100%;
}

.banner__cta {
    margin-top: 45px;
}

.banner__cta-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    color: #000;
    font-weight: 400px;
    cursor: pointer;
    padding: 1em 2em;
    font-size: 1.125rem;
    border-radius: 2em;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 13px 27px -5px rgba(50 50 93 / 0.25);
}

.banner__cta-btn:before,
.banner__cta-btn:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #a88eeb, #ffeae1);
    border-radius: 2em;
    z-index: -1;
}
.banner__cta-btn:after {
    opacity: 0;
    background-image: linear-gradient(to left, #a88eeb, #ffeae1);
    transition: opacity 0.3s ease-in-out;
}
.banner__cta-btn:hover:after {
    opacity: 1;
}

@media (min-width: 62em) {
    #banner {
        margin-bottom: 0;
    }
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .banner__img {
        order: 2;
    }
    .banner__desc {
        order: 1;
    }
}
